<%= form_for(@profile) do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @profile} %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :percent_completed %>
  <%= f.number_field(:percent_completed, min: 0, max: 100) %>
  </div>


  <br><br>

  <%= f.label :game_id, "Select a Game" %>
  <%= f.collection_select :game_id, Game.all, :id, :title, prompt: true %>
  <br><br>



  <br><br>
  <%= f.submit %>

<% end %>