<h1>Profile</h1>

<p> <%= @profile.name %> was last played on <%= @profile.updated_at.strftime("%m/%d/%Y at %I:%M %p") %> by <%= @profile.user.name %> </p>


<p><%= @profile.game.title %> - <%= @profile.game.rating %></p>

<% if @profile.user == current_user %>
  <%= link_to "Edit Profile", edit_profile_path(@profile) %>
  <%= link_to "Delete Profile", profile_path(@profile), method: :delete  %>
<% end %>